.nav-items{
    font-weight: 600;
    font-size: 20px;
    margin:10px;

}

.nav-items:hover{
    background-color: blueviolet;
    color:black;
}

.search{
    
    align-items: center;
    width:"500px";margin:"2px 200px auto 200px ";height:"35px"
}

::placeholder{
    margin:10px;
    font-weight: 500;
    font-size: 17px;
}

::-ms-value{
    margin:10px;
    font-weight: 500;
    font-size: 17px;
}


